* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(imagens/background.jpg);
    background-size: cover;
    background-position: center;
}

.assist {
    width: 50px;
    height: 50px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 25px;

    background: linear-gradient(to left, rgb(0, 0, 48), rgb(0, 0, 0));
    border-bottom: 5px solid black;

    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 3px black;

    font-family: 'Chakra Petch', sans-serif;
}

.casinha {
    margin-top: 10px;

    border-radius: 360px;
    height: 50px;
    width: 50px;
}

.faixa {

    margin-top: 15%;
    height: 50px;
    background-color: rgb(0, 0, 48);
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.faixa button {
    border-radius: 360px;
    font-size: 30px;
    height: 100px;
    width: 100px;

}



.tras {
    margin-left: 60px;
}

.frente {
    margin-right: 60px;
}

.faixa2 {
    height: 15px;
    background-color: brown;
    box-shadow: 2px 2px 4px black;
}

.containerBase {
    border-radius: 360px;
    border: 4px solid black;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    overflow: hidden;
    height: 350px;
    width: 350px;
}

.imagens {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    /* utilizado para mover o objeto horizontalmente*/
}


img {
    object-fit: cover;
    width: 350px;
    height: 350px;
}

.containerzao {
    margin: 160px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 400px;
}

.containerTexto {
    width: 1000px;
    height: 450px;
    overflow: hidden;
    position: relative;

}

.textos {
    display: flex;
    height: 70%;
    width: 600%;
    transition: transform 0.5s ease-in-out;
}

.tabela {
    display: flex;
    flex-wrap: wrap;
}

.tabela h1 {
    margin: 25px 0;
}

.textos div {

    width: 100%;
    height: 100%;

    align-items: top;
    justify-content: space-around;

    font-size: 24px;
    color: antiquewhite;
}

.precos {
    display: flex;
}

.precos div {
    border: 1px solid white;
    width: 30%;
    height: 100%;

    border-radius: 25px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    background-color: rgb(0, 0, 0);

    border-radius: 25px;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 45px;
    background-color: rgb(0, 0, 0);
    margin-top: auto;
    align-self: flex-end;
    padding-right: 10px;
    border-radius: 25px;

}

ul {
    padding-left: 35px;
    font-size: 22px;
}

.orcamento {
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
}

.orcamento button {
    width: 200px;
    height: 65px;
    border-radius: 25px;

    margin-top: 25px;

    font-size: larger;
    font-weight: bolder;
    font-family: 'Chakra Petch', sans-serif;
}

/* Tela de celular */
@media screen and (max-width:600px) {

    h1 {
        font-size: larger;
    }

    .faixa {
        margin-top: 100px;
    }

    .containerBase {
        border-radius: 360px;
        border: 4px solid black;
        box-shadow: 2px 2px 4px rgb(0, 0, 0);
        overflow: hidden;
        height: 170px;
        width: 170px;
    }

    .imagens {
        display: flex;
        transition: transform 0.5s ease-in-out;
        transform: translateX(0);
        /* utilizado para mover o objeto horizontalmente*/
    }


    img {
        object-fit: cover;
        width: 170px;
        height: 170px;
    }

    .faixa {
        display: flex;
        justify-content: center;
    }


    .faixa button {
        display: none;
    }

    .tras {
        margin-left: 10px;
    }

    .frente {
        margin-right: 10px;
    }

    .containerzao {
        opacity: 0;
    }
}